.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 70px 30px;
  text-align: left;
  transition: background-color 0.5s ease-in-out;

  .titulo {
    gap: 5px;
    & span {
      font-size: 16px;
    }

    & h3 {
      font-size: 24px;
    }

    & small {
      font-size: 24px;
    }

  }

  & p {
    font-size: 16px;
  }
}

.card:hover {
  background-color: #feb633;
  cursor: pointer;
}


@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}

@media (max-width: 429px) {
  .card {
    width: 100%;
  }
}