   .experiencia_trabalho-light {
     background-color: #f6f8fc;
     width: 100%;
     display: flex;
     flex-direction: column;
     padding: 100px 20px;
     gap: 50px;
     align-items: center;

     & .titulo_descricao {
       max-width: 768px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       gap: 30px;
       text-align: center;
  
       & h1 {
         color: #32333c;
         font-size: 45px;
       }

       & small {
        border: 3px solid #feb633;
        width: 80px;
        margin: auto;
       }
  
       & p {
         color: #8a8fa3;
         font-size: 18px;
       }
     }
  
     .cards {
       max-width: 1024px;
       display: flex;
     }
   }


   .experiencia_trabalho-dark {
    background-color: #393838;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 100px 20px;
    gap: 50px;
    align-items: center;
  }

  .titulo_descricao {
    max-width: 768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    text-align: center;

    & h1 {
      color: #cccccc;
      font-size: 45px;
    }

    & small {
      border: 3px solid #feb633;
      width: 80px;
      margin: auto;
     }

    & p {
      color: #cccccc;
      font-size: 18px;
    }
  }

  .cards {
    max-width: 1024px;
    display: flex;
  }

  @media (max-width: 1920px) {
    
  }
  
  @media (max-width: 1024px) {
    
  }
  
  @media (max-width: 768px) {
    .cards {
      flex-direction: column;
    }
  }
  
  @media (max-width: 429px) {
    .cards {
      flex-direction: column;
    }
  }